{% extends 'base.html' %}
{% load static %}
{% block title %}Start a New Topic{% endblock %}
{% block javascript %}
     {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
  {% csrf_token %}

  {% include 'includes/form.html' %}

  <button type="submit" class="btn btn-success">Post</button>




{% endblock %}